
body{

  margin: 0;
  text-align: center;
  font-family: 'Sacramento', cursive;
}

h1{
  margin: 0;
}

p{
   font-family: 'Stint Ultra Condensed', cursive;
}

.res{
  text-decoration: underline;
}

.top-c{
  background-color: #71c9ce;
  position: relative;
  padding-top: 200px;
  padding-bottom: 100px;
}

.middle-c{

}

.bottom-c{
  
}

.t-cloud{
  position: absolute;
  right: 300px;
  top: 100px;
}

.b-cloud{
  position: absolute;
  left: 300px;
  bottom: 400px;
}
